body {
    background-color: powderblue;
 }
 
th , td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #380707;   /* para ito sa bottom ng bawat record sa table ito lang ang makikita */
}
  
tr:hover {background-color: #a56868;} 